{{#block "BottomBorderTabItem" extend="/core/tab/TabItem.hbs" }}
    <div class="{{blockName}}">
        {{#element "content"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}
    </div>
{{/block}}
