{{#block "TabItem" extend="_SourceTabItem.hbs" }}
    <div class="{{blockName}}">
        {{#element "content"}}
            <div class="{{elementName}}">{{this}}</div>
        {{/element}}
    </div>
{{/block}}