<a class="ActionLink" href="https://www.tumblr.com/widgets/share/tool?
    {{~#with url}}canonicalUrl={{this}}{{~/with~}}"
    target="_blank" data-social-service="tumblr">
    <svg><use xlink:href="#mono-icon-tumblr"></use></svg><span>Tumblr</span>
</a>
