{{~#with item~}}
    {{~#if ../inline~}}
        <span class="Enhancement"><span class="Enhancement-item">{{this}}</span></span>
    {{~else~}}
        <div class="Enhancement">
            <div class="Enhancement-item">{{this}}</div>
        </div>
    {{~/if~}}
{{~/with~}}
