<div class="EmailInput">
    <label class="EmailInput-label">{{label}}
        <input class="EmailInput-input" type="email" name="{{inputName}}" placeholder="{{placeholder}}" autocomplete="off" value="">
    </label>
</div>
