<div class="PasswordInput">
    <label class="PasswordInput-label">{{label}}
        <input class="PasswordInput-input" type="password" name="{{inputName}}" placeholder="{{placeholder}}" autocomplete="off" value="">
    </label>
</div>
