<a class="PodcastProviderPromo gtm_share" data-platform="spotify" href="{{~#with url}}{{this}}{{~/with~}}"
    target="_blank" data-social-service="spotify">
    <svg class="provider-icon"><use xlink:href="#spotify"></use></svg>
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider8"}}</div>
</a>
