<div class="Quote" {{extraAttributes}}>
    <blockquote>
        {{~quote~}}
    </blockquote>
    {{#with attribution}}
        <div class="Quote-attribution">{{this}}</div>
    {{/with}}
    {{#with image}}
        <div class="Quote-image" itemprop="image">{{this}}</div>
    {{/with}}
</div>
