<a class="PodcastProviderPromo gtm_share" data-platform="pandora" href="{{~#with url}}{{this}}{{~/with~}}"
    target="_blank" data-social-service="pandora">
    <svg class="provider-icon"><use xlink:href="#pandora"></use></svg>
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider5"}}</div>
</a>
