 <a class="ActionLink" href="https://www.facebook.com/dialog/share?
    {{~#with facebookAppId~}}app_id={{this}}{{/with}}
    {{~#with display~}}&display={{this}}{{/with}}
    {{~#with shareHref~}}&href={{this}}{{/with}}
    {{~#with redirectUri~}}&redirect_uri={{this}}{{/with}}"
    target="_blank" data-social-service="facebook">
    <svg><use xlink:href="#mono-icon-facebook"></use></svg><span>Facebook</span>
</a>
