<a class="PodcastProviderPromo gtm_share" data-platform="pocket-casts" href="{{~#with url}}{{this}}{{~/with~}}"
    target="_blank" data-social-service="pocket-casts">
    <svg class="provider-icon"><use xlink:href="#pocket-casts"></use></svg>
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider6"}}</div>
</a>
