{{#block "GooglePlusShareButton"}}
    {{#element "link" noWith=true}}
        <a class="{{blockName}}" href="https://plus.google.com/share?
                {{~#with url}}url={{this}}{{~/with~}}"
           target="_blank"
        >
            {{body}}
        </a>
    {{/element}}
{{/block}}