<a class="ActionLink" href="{{url}}" title="{{title}}" target="_blank" data-social-service="download">
    {{include (iconPath 'download-simple')}}
    <span>
        {{format "/link/DownloadLink" "downloadText"}}
    </span>
</a>
