<div class="Freeform">
    {{#with link}}
        {{include "../link/Link.hbs" href=../link target=../target}}
    {{/with}}
    {{#with items}}
        <div class="Freeform-items">
            {{#each this}}
                <div class="Freeform-items-item">{{this}}</div>
            {{/each}}
        </div>
    {{/with}}
</div>
