<div class="ContainerLeadHero">
    {{#with rows}}
        <ul class="ContainerLeadHero-rows">
            {{#each this}}
                <li class="ContainerLeadHero-rows-item">
                    {{render this [/core/container/Row.hbs]="/core/container/ContainerLeadHeroRow.hbs"}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
</div>
