<div class="ThreeColumnContainer">
    {{#with columnOne}}
        <div class="ThreeColumnContainer-columnOne">
            {{this}}
        </div>
    {{/with}}
    {{#with columnTwo}}
        <div class="ThreeColumnContainer-columnTwo">
            {{this}}
        </div>
    {{/with}}
    {{#with columnThree}}
        <div class="ThreeColumnContainer-columnThree">
            {{this}}
        </div>
    {{/with}}
</div>
