{{#with columns}}
    <div class="Row">
        {{#each this}}
            {{render this [/core/container/TwoColumnContainer.hbs]="/core/container/TwoByOneRowElement.hbs"}}
        {{/each}}
    </div>
{{/with}}
