{{#block "Row" extend="/core/container/Row.hbs"}}
    {{#element "columns"}}
        <div class="{{blockName}}">
            {{#each this}}
                {{render this
                            [/core/container/TwoColumnContainer.hbs]="/core/container/TwoByOneRowElement.hbs"
                        }}
            {{/each}}
        </div>
    {{/element}}
{{/block}}
