<div class="TwoColumnContainer">
    {{#with columnOne}}
        <div class="TwoColumnContainer-columnOne">
            {{this}}
        </div>
    {{/with}}
    {{#with columnTwo}}
        <div class="TwoColumnContainer-columnTwo">
            {{this}}
        </div>
    {{/with}}
</div>
