<!DOCTYPE html>
<html class="PreviewPage" {{~include "/page/Page-htmlAttributes.hbs" this}}>
{{include "/page/Page-head.hbs" this}}

<body class="Page-body">
    {{include "/page/Page-icons.hbs" this}}
    <main class="Page-main" data-modulewell>
        {{#with main}}{{this}}{{/with}}
    </main>
</body>
</html>
