<a class="PodcastProviderPromo gtm_share" data-platform="google" href="{{~#with url}}{{this}}{{~/with~}}"
    target="_blank" data-social-service="google">
    <svg class="provider-icon"><use xlink:href="#google"></use></svg>
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider3"}}</div>
</a>
