# Please add IDE-specific files (e.g. .*.sw* from Vim or .idea from IntelliJ)
# to your global config. If you don't have one set up already, you can create
# it using "git config --global core.excludesfile ~/.gitignore".

.gradle
_build
build
build.properties
docker-compose-dev.yml
docker-compose.override.yml
docker-sync.yml
node
node_modules
