<div class="Carousel">
    {{#with title}}
        <div class="Carousel-title">{{this}}</div>
    {{/with}}
    <div class="Carousel-slides">
        {{#each slides}}
            <div class="Carousel-slides-slide">
                {{this}}
            </div>
        {{/each}}
    </div>
</div>
