<svg width="20" height="24" viewBox="0 0 20 24">
    <title>Image</title>
    <g stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
        <path d="M13,7 L13,1 L19,7 L13,7 Z M15.5,20.165 L5.5,20.165 C5.132,20.165 4.885,19.777 5.053,19.441 L7.553,14.441 C7.708,14.134 8.113,14.073 8.354,14.311 L9.881,15.838 L12.562,10.925 C12.773,10.537 13.354,10.597 13.479,11.023 L15.979,19.523 C16.075,19.845 15.832,20.165 15.5,20.165 L15.5,20.165 Z M7,7.165 C8.102,7.165 9,8.062 9,9.165 C9,10.268 8.102,11.165 7,11.165 C5.898,11.165 5,10.268 5,9.165 C5,8.062 5.898,7.165 7,7.165 L7,7.165 Z M19.854,6.146 L13.854,0.146 C13.76,0.053 13.633,0 13.5,0 L0.5,0 C0.225,0 0,0.224 0,0.5 L0,23.5 C0,23.776 0.225,24 0.5,24 L19.5,24 C19.775,24 20,23.776 20,23.5 L20,6.5 C20,6.367 19.947,6.24 19.854,6.146 L19.854,6.146 Z"></path>
    </g>
</svg>