<svg width="18" height="24" viewBox="0 0 18 24">
    <title>Video</title>
    <g stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
        <path d="M11,7 L11,1 L17,7 L11,7 Z M13.766,13.924 L5.766,18.924 C5.684,18.975 5.592,19 5.5,19 C5.416,19 5.334,18.979 5.258,18.938 C5.099,18.849 5,18.682 5,18.5 L5,8.5 C5,8.318 5.099,8.15 5.258,8.063 C5.416,7.975 5.611,7.979 5.766,8.077 L13.766,13.077 C13.911,13.167 14,13.327 14,13.5 C14,13.672 13.911,13.832 13.766,13.924 L13.766,13.924 Z M17.854,6.146 L11.854,0.146 C11.76,0.053 11.633,0 11.5,0 L0.5,0 C0.225,0 0,0.224 0,0.5 L0,23.5 C0,23.776 0.225,24 0.5,24 L17.5,24 C17.775,24 18,23.776 18,23.5 L18,6.5 C18,6.367 17.947,6.241 17.854,6.146 L17.854,6.146 Z"></path>
    </g>
</svg>