<!DOCTYPE html>
<html class="PreviewPage" {{~include "/page/Page-htmlAttributes.hbs" this}}>
{{include "/page/Page-head.hbs" this}}
<body class="Page-body" style="padding: 0;">
    {{include "/page/Page-bodyStart.hbs" this}}
    <div data-moduleroot>
        <main class="Page-main">
            {{#with main}}{{this}}{{/with}}
        </main>
    </div>
</body>
</html>
