{{#if ctaButtonText}}
    {{#if url}}
        <div class="PagePromo-button">
            <a class="Button" href="{{url}}"{{#with target}} target="{{this}}"{{/with}}>{{ctaButtonText}}</a>
        </div>
    {{/if}}
{{/if}}
