{{#if ctaButtonText}}
    {{#if url}}
        <div class="PagePromo-ctaLink">
            <a href="{{url}}"{{#with target}} target="{{this}}"{{/with}}>{{ctaButtonText}}</a>
        </div>
    {{/if}}
{{/if}}
