{{include "/link/AnchorLink.hbs" this}}
{{#or title description}}
    <div class="ModuleHeader">
        <div class="ModuleHeader-container">
            {{#if title}}
                <div class="ModuleHeader-title">{{title}}</div>
            {{/if}}
            {{#if description}}
                <div class="ModuleHeader-description">{{description}}</div>
            {{/if}}
            {{#eq (fallback moduleHeaderPosition listHeaderPosition) 'side'}}
                {{include "/page/list/includes/PageList-cta.hbs" this}}
            {{/eq}}
        </div>
    </div>
{{/or}}
