<!DOCTYPE html>
<html class="TypographyPage" itemscope itemtype="http://schema.org/WebPage">
{{include "/page/Page-head.hbs" this}}

<body class="Page-body">
    <style type="text/css">
        .Page-body {
            padding-top: 0;
        }

        .TypographyWrapper {
            padding: 40px;
            max-width: 1000px;
        }

        .TypographyExample {
            margin-bottom: 20px;
        }

        .notes {
            color: gray;
            font-size: 14px;
            margin-left: 20px;
        }

        h2 {
            border-bottom: 1px solid gray;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    </style>

    <div class="Page-content">
        <div class="TypographyWrapper">
            <h2 class="page-title-2">Go Typography</h2>

            <div class="TypographyExample">
                <span class="headline-1">Headline 1</span><span class="notes">headline-1</span>
            </div>
            <div class="TypographyExample">
                <span class="headline-2">Headline 2</span><span class="notes">headline-2</span>
            </div>
            <div class="TypographyExample">
                <span class="headline-3">Headline 3</span><span class="notes">headline-3</span>
            </div>
            <div class="TypographyExample">
                <span class="headline-4">Headline 4</span><span class="notes">headline-4</span>
            </div>
            <div class="TypographyExample">
                <span class="headline-5">Headline 5</span><span class="notes">headline-5</span>
            </div>
            <div class="TypographyExample">
                <span class="headline-6">Headline 6</span><span class="notes">headline-6</span>
            </div>
            <div class="TypographyExample">
                <span class="headline-7">Headline 7</span><span class="notes">headline-7</span>
            </div>
            <div class="TypographyExample">
                <span class="headline-8">Headline 8</span><span class="notes">headline-8</span>
            </div>

             <div class="TypographyExample">
                <span class="subhead-1">Subhead 1</span><span class="notes">subhead-1</span>
            </div>
             <div class="TypographyExample">
                <span class="subhead-2">Subhead 2</span><span class="notes">subhead-2</span>
            </div>
             <div class="TypographyExample">
                <span class="subhead-3">Subhead 3</span><span class="notes">subhead-3</span>
            </div>
             <div class="TypographyExample">
                <span class="subhead-4">Subhead 4</span><span class="notes">subhead-4</span>
            </div>


            <div class="TypographyExample">
                <span class="body-1">Body</span><span class="notes">body-1</span>
            </div>

            <div class="TypographyExample">
                <span class="label-1">Label 1</span><span class="notes">label-1</span>
            </div>
            <div class="TypographyExample">
                <span class="label-2">Label 2</span><span class="notes">label-2</span>
            </div>
            <div class="TypographyExample">
                <span class="label-3">Label 3</span><span class="notes">label-3</span>
            </div>
            <div class="TypographyExample">
                <span class="label-4">Label 4</span><span class="notes">label-4</span>
            </div>
            <div class="TypographyExample">
                <span class="label-5">Label 5</span><span class="notes">label-5</span>
            </div>
            <div class="TypographyExample">
                <span class="label-6">Label 6</span><span class="notes">label-6</span>
            </div>


            <div class="TypographyExample">
                <span class="byline-1">Byline 1</span><span class="notes">byline-1</span>
            </div>
            <div class="TypographyExample">
                <span class="byline-2">Byline 2</span><span class="notes">byline-2</span>
            </div>


            <div class="TypographyExample">
                <span class="quote-1">Quote 1</span><span class="notes">quote-1</span>
            </div>
            <div class="TypographyExample">
                <span class="quote-2">Quote 2</span><span class="notes">quote-2</span>
            </div>

            <div class="TypographyExample">
                <span class="block-quote-1">Block Quote</span><span class="notes">block-quote-1</span>
            </div>

            <div class="TypographyExample">
                <span class="stat-1">Stat 1</span><span class="notes">stat-1</span>
            </div>
            <div class="TypographyExample">
                <span class="stat-2">Stat 2</span><span class="notes">stat-2</span>
            </div>
        </div>
    </div>
</body>
</html>
