{{~#each item~}}
    <div class="Enhancement">
        <div class="Enhancement-item">
            {{include "/page/promo/PagePromo.hbs" this imagePositionHorizontal="left"}}
        </div>
    </div>
{{~/each~}}
