<div class="Promo-Amp">
    {{#with media}}
    <div class="Promo-Amp-media">
        {{#set imageSize="small-16x9"}}
            {{include "/link/Link.amp.hbs" aria-label=../title href=../url target=../target body=this}}
        {{/set}}
    </div>
    {{/with}}

    <div class="Promo-Amp-content">
        {{#with category}}
        <div class="Promo-Amp-category">
            {{include "/link/Link.amp.hbs" href=../categoryUrl target=../target body=this}}
        </div>
        {{/with}}

        {{#with title}}
        <div class="Promo-Amp-title">
            {{include "/link/Link.amp.hbs" href=../url target=../target body=this}}
        </div>
        {{/with}}

        {{#with publishDate}}
            <div class="Promo-Amp-date">{{this}}</div>
        {{/with}}
    </div>
</div>
