<div class="PodcastPromoC">
    {{#set imageSize="small-square"}}
        {{include "/page/promo/includes/PagePromoMediaWithIcon.hbs" this}}
    {{/set}}

    <div class="PodcastPromoC-info">
        {{include "/page/promo/includes/PagePromoTitle.hbs" this}}
        {{include "/page/promo/includes/PagePromoDescription.hbs" this}}
    </div>
</div>