<bsp-listcarousel class="QuoteListA" data-module>
    {{include "/page/list/includes/PageList-header.hbs" this}}

    {{#with items}}
        <ul class="QuoteListA-items">
            {{#each this}}
                <li class="QuoteListA-items-item">
                    {{include "/quote/Quote.hbs" this}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
    {{include "/page/list/includes/PageList-footer.hbs" this}}
</bsp-listcarousel>
