<a class="PodcastProviderPromo gtm_share" data-platform="google" href="{{~#with url}}{{this}}{{~/with~}}"
    target="_blank" data-social-service="google">
    {{include 'GooglePodcastIcon.hbs'}}
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider3"}}</div>
</a>
