<div class="SearchFilter">
    <bsp-toggler data-toggle="search-filter" class="SearchFilter-content" data-toggle-in="search-filter" {{#if (gt items.length 3)}}data-see-all{{/if}}>
        <div class="SearchFilter-heading" data-toggle-trigger="search-filter">{{heading}}<svg class="chevron"><use xlink:href="#icon-arrow-down"></use></svg></div>
        <bsp-toggler class="SearchFilter-seeAll" data-toggle="see-all">
            <div class="SearchFilter-items-wrapper">
                <ul class="SearchFilter-items">
                    {{~#each items~}}
                        <li class="SearchFilter-items-item">
                            {{include "/search/SearchFilterInput.hbs" this}}
                        </li>
                    {{~/each~}}
                </ul>
            </div>
            {{#if (gt items.length 3)}}<button class="SearchFilter-seeAll-button" data-toggle-trigger="see-all"><span class="seeAllText">{{format "seeAll"}}</span><span class="seeLessText">{{format "seeLess"}}</span></button>{{/if}}
        </bsp-toggler>
    </bsp-toggler>
</div>
