<div class="Carousel">
    {{#each slides}}
        <div class="Carousel-slide {{#if @last}}last-slide{{/if}}">
            {{render this [/core/gallery/GallerySlide.hbs]="/core/carousel/CarouselSlide.hbs"}}
        </div>
    {{/each}}
</div>
