<div class="CarouselSlide" itemprop="image" itemtype="http://schema.org/ImageObject" {{extraAttributes}}>
    {{include "/core/gallery/GallerySlide-media.hbs" this}}
    <div class="CarouselSlide-info">
        {{include "/core/gallery/GallerySlide-infoTitle.hbs" this}}
        {{include "/core/gallery/GallerySlide-infoAttribution.hbs" this}}
    </div>
</div>
