{{!-- This "List" is used when a Section page has only dynamic content configured.
It self contains it's own container and is rendered contextually when a List is
dropped directly into the main of a Section page by the View Model--}}

{{#if items}}
<div class="OneColumnContainer">
    <div class="OneColumnContainer-row">
        <div class="OneColumnContainer-column">
            <div class="ListE">
                <div class="ListE-header" data-no-title></div>

                {{#with items}}
                    <ul class="ListE-items">
                        {{#each this}}
                            <li class="ListE-items-item">
                                {{include "/core/promo/PromoC.amp.hbs" this}}
                            </li>
                        {{/each}}
                    </ul>
                {{/with}}
            </div>
        </div>
    </div>
</div>
{{/if}}