.ListI {
  &:extend(.ListAbstract all);

  &-header {
    &:extend(.ListHeader all);
  }

  &-items {
    &:extend(.ListItemsNoBorder all);
  }

  @media @mq-viewport-md {
    &-items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -(@gap / 2);

      &-item {
        padding: @gap (@gap / 2) 0;
        width: 33.333%;
        margin-bottom: 0;
      }
    }

    &-header {
      margin-bottom: 0;
    }
  }

  @media @mq-viewport-lg {
    &-items {
      &-item {
        width: 25%;
      }
    }
  }
}
