<div class="ListTags" {{extraAttributes}}>
    {{#with title}}
        <div class="ListTags-title">{{this}}</div>
    {{/with}}

    {{#with items}}
        <ul class="ListTags-items">
            {{#each this}}
            <li class="ListTags-items-item">
                {{include "/core/promo/PromoTag.hbs" this}}
            </li>
            {{/each}}
        </ul>
    {{/with}}
</div>
