<footer class="Footer" itemscope itemtype="https://schema.org/WPFooter">
    {{#with footerContent}}
        <div class="Footer-footerContent">{{this}}</div>
    {{/with}}
    {{#with social}}
        <div class="Footer-social">{{this}}</div>
    {{/with}}
    {{#with disclaimer}}
        <div class="Footer-disclaimer">{{this}}</div>
    {{/with}}
</footer>
