<div id="googleAd{{adIndex}}" class="GoogleDfpAd"
    {{~#with slot}} data-slot-name='{{this}}'{{/with~}}
    {{~#with sizes}} data-slot-sizes='{{this}}'{{/with~}}
    {{~#with adSizeMaps}} data-slot-adSizeMap='{{this}}'{{/with~}}>
    <span>Advertisement</span>
</div>