<amp-social-share class="ActionLink" type="email" data-param-recipient="{{email}}"
    {{~#with subject}}data-param-subject="{{this}}"{{~/with~}}
    width="30px"
    height="30px"
    >
    <svg><use xlink:href="#mono-icon-mailto"></use></svg><span>{{format "MailText"}}</span>
</amp-social-share>
