{{#if body}}
    <TextLink>
        {{#with body}}
            <body>{{this}}</body>
        {{/with}}
        <link>
            <Link>
                <url>{{href}}</url>
            </Link>
        </link>
    </TextLink>
{{else}}
    <Link>
        <url>{{href}}</url>
    </Link>
{{/if}}
