<div class="SocialBar">
    {{#with items}}
        <ul class="SocialBar-items">
            {{#each this}}
                <li class="SocialBar-items-item">{{this}}</li>
            {{/each}}
        </ul>
    {{/with}}
</div>
