 <a class="SocialLink" rel="noreferrer" href="{{href}}" target="_blank" data-social-service="{{socialService}}">
     <svg>
         <use xlink:href="#mono-icon-{{socialService}}"></use>
     </svg>
     <span class="sr-only">
         {{socialService}}
     </span>
 </a>
