{{#if sponsored}}
    <div class="Page-sponsoredBy">
        {{#with sponsorDisplayText}}
            <span class="Page-sponsoredBy-text">{{this}}</span>
        {{/with}}
        {{#if sponsorLogo}}
            {{#set imageSize="logo-small"}}
                <span class="Page-sponsoredBy-logo">
                    {{include "/link/Link.hbs" href=sponsorUrl target=sponsorTarget body=sponsorLogo}}
                </span>
            {{/set}}
        {{else}}
            <span class="Page-sponsoredBy-logo">
                {{include "/link/Link.hbs" href=sponsorUrl target=sponsorTarget body=sponsorName}}
            </span>
        {{/if}}
    </div>
{{/if}}
