{{#if url}}
    <a class="PinterestShareButton"
        href="https://pinterest.com/pin/create/bookmarklet/?
        {{~#with url}}url={{this}}{{~/with~}}
        {{~#with description}}&description={{this}}{{~/with~}}
        {{~#with media}}&media={{this}}{{~/with~}}"
        target="_blank"
    >
    {{body}}
</a>
{{/if}}
