<div class="SearchFilter">
    {{#with heading}}
        <h3 class="SearchFilter-heading">{{this}}</h3>
    {{/with}}
    {{#with items}}
        <ul class="SearchFilter-items">
            {{#each this}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/with}}
</div>
