<div class="PagePromo">
    {{#set imageSize=(fallback (get "imageSize") "medium-3x2")}}
        {{include "/page/promo/includes/PagePromoMediaWithIcon.hbs" this}}
    {{/set}}

    <div class="PagePromo-content">
        {{include "/page/promo/includes/PagePromoTitle.hbs" this}}
    </div>
</div>