<div class="PagePromo-Amp">
    {{#with media}}
    <div class="PagePromo-Amp-media">
        {{#set imageSize="small"}}
            {{include "../link/Link.amp.hbs" aria-label=../title href=../url target=../target body=this}}
        {{/set}}
    </div>
    {{/with}}

    <div class="PagePromo-Amp-content">
        {{#with category}}
        <div class="PagePromo-Amp-category">
            {{include "../link/Link.amp.hbs" href=../categoryUrl target=../target body=this}}
        </div>
        {{/with}}

        {{#with title}}
        <div class="PagePromo-Amp-title">
            {{include "../link/Link.amp.hbs" href=../url target=../target body=this}}
        </div>
        {{/with}}
    </div>
</div>
