<a class="PodcastProviderPromo gtm_share" data-platform="overcast" href="{{~#with url}}{{this}}{{~/with~}}"
   target="_blank" data-social-service="overcast">
    <svg class="provider-icon"><use xlink:href="#overcast"></use></svg>
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider10"}}</div>
</a>
