<a class="PodcastProviderPromo gtm_share" data-platform="rss" href="{{~#with url}}{{this}}{{~/with~}}"
    target="_blank" data-social-service="rss">
    <svg class="provider-icon"><use xlink:href="#rss"></use></svg>
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider7"}}</div>
</a>
