<div class="Enhancement"{{#if enhancementAlignment}} data-{{enhancementAlignment}}{{else}} data-align-center{{/if}}>
    <div class="Enhancement-item">
        {{include "/quote/Quote.hbs" this}}
    </div>
</div>
