<div class="ListArticleBodyItem">
    {{#with headline}}
        <div class="ListArticleBodyItem-headline">{{this}}</div>
    {{/with}}

    {{#with body}}
        <div class="ListArticleBodyItem-body RichTextBody">
            {{this}}
        </div>
    {{/with}}
</div>
