<div class="ListArticleBody">
    {{#with items}}
        <ul class="ListArticleBody-items">
            {{#each this}}
                <li class="ListArticleBody-items-item">{{this}}</li>
            {{/each}}
        </ul>
    {{/with}}
</div>
