<div class="SocialBar">
    <h2 class="SocialBar-heading">{{format "/core/social/SocialBar" "headingText"}}</h2>
    {{#with items}}
        <ul class="SocialBar-items">
            {{#each this}}
                <li class="SocialBar-items-item">{{this}}</li>
            {{/each}}
        </ul>
    {{/with}}
</div>
