<a class="ActionLink" href="https://twitter.com/intent/tweet?
    {{~#with url}}url={{this}}&{{~/with~}}
    {{~#with via}}via={{this}}&{{~/with~}}
    {{~#with hashtags}}hashtags={{this}}&{{~/with~}}
    {{~#with text}}text={{this}}{{~/with~}}"
    target="_blank" data-social-service="twitter">
    <svg><use xlink:href="#mono-icon-twitter" /></svg><span>Twitter</span>
</a>
