<amp-social-share class="ActionLink" type="twitter"
    {{~#with text}} data-param-text="{{this}}"{{~/with~}}
    {{~#with url}} data-param-url="{{this}}"{{~/with~}}
    width="30px"
    height="30px">
    <span>Twitter</span>
</amp-social-share>
