.SearchResultsModule {
  display: block;
  padding-bottom: 40px;

  &-count,
  &-noResults {
    margin: 20px 0 15px;
  }

  &-noResults {
    text-align: center;
  }

  &-count {
    font-family: var(--font-1);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #47494f;

    &-desktop {
      display: none;
    }

    &-mobile {
      display: block;
    }
  }

  &-formButton {

    cursor: pointer;
    background: #fff;
    border: 0;
    height: 60px;
    padding-right: 30px;

    //[data-rounded-corners='true'] & {
      border-radius: 0 15px 15px 0;
    //}

    svg {
      fill: var(--color-primary-text);
      height: 20px;
      width: 20px;
    }
  }

  &-formInput {
    &:extend(.title-1 all);
    border-radius: 15px 0 0 15px;
    color: var(--color-primary-text);
    border: 0;
    width: 100%;
    padding-left: 20px;
    height: 60px;

    //[data-rounded-corners='true'] & {
      border-radius: 15px 0 0 15px;
    //}
  }

  &-filters {
    &-open {
      .NotButton;
      position: relative;
      padding: 15px 0;
      border-top: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
      width: 100%;
      text-align: left;
      font-weight: bold;
      font-size: 1.6rem;

      svg {
        margin-left: 5px;
        width: 14px;
        height: 14px;
        fill: var(--color-primary-text);
        position: absolute;
        right: 0;
        transform: rotate(90deg);
        top: 22px;
      }
    }

    [data-has-results='false'] & {
      display: none;
    }

    @media @mq-up-to-lg {
      &-overlay {
        background: #fff;
        bottom: 0;
        display: none;
        left: 0;
        right: 0;
        padding: 40px 20px;
        position: fixed;
        top: 0;
        z-index: 50;
        overflow-y: scroll;

        [data-filters-open='true'] & {
          display: block;
        }
      }
    }

    &-close {
      .NotButton;

      position: absolute;
      right: 20px;
      top: 30px;

      svg {
        height: 15px;
        width: 15px;
      }
    }

    &-apply {
      display: none;
      margin: 20px auto 0;

      button {
        .Button;
      }

      [data-filters-open='true'] & {
        display: block;
      }
    }

    &-title {
      .title-5;
      margin-bottom: 20px;
      letter-spacing: 0px;

      svg {
        display: none;
      }
    }

    &-selected {
      background: var(--color-primary);
      height: 0;
      overflow: hidden;
      padding: 1px 0 0 0;

      //[data-rounded-corners='true'] & {
        border-radius: 8px;
      //}

      &[data-showing] {
        display: block;
        background: var(--color-search-module-background);
        margin-bottom: 20px;
        height: auto;
        padding: 15px;
      }

      &-content {
        padding: 10px;
      }

      &-heading {
        display: flex;
        justify-content: space-between;
      }

      &-filter {
        &:extend(.label-3 all);

        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-weight: normal;

        .close-x {
          fill: var(--color-primary-text);
          height: 9px;
          width: 9px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &-reset {
        &:extend(.label-5 all);
        color: var(--color-primary);
        text-transform: uppercase;
      }

      &-title {
        &:extend(.label-3 all);
        margin-bottom: 5px;
      }
    }
  }

  &-pageAside {
    margin-top: 20px;
  }

  &-query {
    display: flex;
    justify-content: space-between;
  }

  &-results,
  &-spotlights {
    list-style: none;

    &-item {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--color-border);
    }
  }

  &-results {
    margin-bottom: 30px;

    &-header {
      align-items: center;
      border-bottom: solid 1px var(--color-border);
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      text-transform: uppercase;

      &-end {
        display: flex;
        align-items: center;
      }
    }
  }

  &-sorts {
    font-family: var(--font-2);
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    display: none;

    select {
      .label-5();
      background: white;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
      margin-left: 10px;
      letter-spacing: 1px;
      padding: 7px 15px;
      width: 161px;
      height: 32px;
      border-radius: 0;
      appearance: none;
      cursor: pointer;
      text-transform: uppercase;

      //[data-rounded-corners='true'] & {
        border-radius: 8px;
      //}
    }

    svg {
      position: absolute;
      width: 10px;
      height: 6px;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      fill: var(--color-primary);
      pointer-events: none;
    }

    label>span {
      display: inline-block;
      color: #47494f;
      letter-spacing: 0.5px;
    }
  }

  &-topContainer {
    .layoutWidth();
    background: var(--color-search-module-background);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  &-wrapper {
    .layoutWidth();
  }

  @media @mq-lg {
    padding-bottom: 50px;

    &-count,
    &-noResults {
      margin: 20px 0;
    }

    &-pageAside {
      margin-top: 50px;
    }

    &-ajax {
      margin-top: 70px;
    }

    &-count {
      &-desktop {
        display: block;
      }

      &-mobile {
        display: none;
      }
    }

    &-formInput,
    &-formButton {
      height: 100px;
    }

    &-formButton {
      //[data-rounded-corners='true'] & {
        border-radius: 0 30px 30px 0;
      //}

      svg {
        height: 30px;
        width: 30px;
      }
    }

    &-formInput {
      padding-left: 30px;

      //[data-rounded-corners='true'] & {
        border-radius: 30px 0 0 30px;
      //}
    }

    &-filters {

      &-open,
      &-close,
      &-apply {
        display: none;

        [data-filters-open='true'] & {
          display: none;
        }
      }
    }

    &-sorts {
      display: block;
    }

    &-topContainer {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 330px auto;
      grid-column-gap: 30px;
    }
  }
}
