<div class="ListArticleBodyItem">
    {{#with headline}}
        <div class="ListArticleBodyItem-headline">{{this}}</div>
    {{/with}}
    {{#with body}}
        <div class="ListArticleBodyItem-body">{{this}}</div>
    {{/with}}
</div>
