<div class="StatPromo">
    {{#with title}}
        <div class="StatPromo-title">
            {{this}}
        </div>
    {{/with}}

    {{#with value}}
        <div class="StatPromo-value">
            {{this}}
        </div>
    {{/with}}

    {{#with description}}
        <div class="StatPromo-description">
            {{this}}
        </div>
    {{/with}}
</div>
