<a class="PodcastProviderPromo gtm_share" data-platform="tunein" href="{{~#with url}}{{this}}{{~/with~}}"
   target="_blank" data-social-service="tunein">
    {{include 'TuneInIcon.hbs'}}
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider11"}}</div>
</a>
