<a class="TumblrShareButton" href="https://www.tumblr.com/widgets/share/tool?
    {{~#with url}}canonicalUrl={{this}}{{~/with~}}"
    target="_blank"
>
<svg class="tumblr-icon"><use xlink:href="#icon-tumblr"/></svg>
</a>
