<amp-social-share class="ActionLink" type="facebook"
    {{~#with facebookAppId~}}data-param-app_id="{{this}}"{{/with}}
    {{~#with url}}data-param-url="{{this}}"{{~/with~}}
    width="30px"
    height="30px">
    <span>Facebook</span>
</amp-social-share>
