<div class="BrightcoveVideoPlayer">
    <amp-brightcove data-block-on-consent id="brightcove-video-{{videoId}}" data-account="{{account}}" data-video-id="{{videoId}}" data-player-id="{{playerId}}" data-embed="default" {{#if autoplay}}autoplay{{/if}} layout="responsive" width="480" height="270"></amp-brightcove>
</div>
