<a class="ActionLink" href="javascript:window.print()" data-social-service="print">
    <svg>
        <use xlink:href="#action-icon-print"></use>
    </svg>
    <span>
        {{format "/link/PrintLink" "linkText"}}
    </span>
</a>
