{{#unless suppressPageFooter}}
    <footer class="Page-footer">
        <div class="Page-footer-content">
            {{#with footerLogo}}
                <div class="Page-footer-logo">{{this}}</div>
            {{/with}}

            <div class="Page-footer-columns">
                <div class="Page-footer-column">
                    {{#with footerContent}}
                        <div class="Page-footer-content">
                            {{render this [/core/form/Form.amp.hbs]="/core/form/NewsletterForm.amp.hbs"}}
                        </div>
                    {{/with}}
                </div>
                <div class="Page-footer-column">
                    {{#with footerNavigation}}
                        <div class="Page-footer-navigation">
                            {{render this [/core/navigation/Navigation.amp.hbs]="/core/navigation/FooterNavigation.amp.hbs"}}
                        </div>
                    {{/with}}
                </div>
            </div>

            {{#with disclaimer}}
                <div class="Page-footer-disclaimer">{{this}}</div>
            {{/with}}
        </div>
    </footer>
{{/unless}}
