{{#with sectionNavigation}}
    <div class="{{#if ../className}}{{../className}}{{else}}Page{{/if}}-sectionNavigation">
        {{include "/core/navigation/SectionNavigation.amp.hbs" this}}
    </div>
{{/with}}
