<div class="RecipeCard">
    {{include "/page/promo/includes/PagePromoMediaWithIcon.hbs" this}}

    <div class="PagePromo-content">
        {{include "/page/promo/includes/PagePromoTitle.hbs" this}}
    </div>
</div>