<div class="RecipeStep">
    {{#with heading}}<div class="RecipeStep-title">{{this}}</div>{{/with}}
    {{#with image}}
        <div class="RecipeStep-image">
            {{#set imageSize="large-16x9"}}
                {{this}}
            {{/set}}
        </div>
    {{/with}}
    {{#with directions}}<div class="RecipeStep-directions">{{this}}</div>{{/with}}
</div>