{{~#with item~}}
<div class="Enhancement" {{#if ../enhancementAlignment}} data-{{../enhancementAlignment}}{{else}}data-align-center{{/if}}>
    <div class="Enhancement-item">{{this}}</div>
</div>
{{~/with~}}