<div class="OneColumnContainer" data-module data-full-width {{include "includes/Container-attributes.hbs" this}}>
    {{include "/global/ModuleHeader.hbs" this}}

    <div class="OneColumnContainer-container" data-modulewell>
        {{#with columnOne}}
            {{this}}
        {{/with}}
    </div>
</div>
