<div class="UpdateStoryItem">
    {{#with body}}
        <div class="UpdateStoryItem-body">{{this}}</div>
    {{/with}}
    {{#with publishDate}}
        <div class="UpdateStoryItem-publishDate">{{this}}</div>
    {{/with}}
</div>
