<div class="UpdateStory">
    {{#with updates}}
        <ul class="UpdateStory-updates" itemscope itemtype="http://schema.org/ItemList">
            {{#each this}}
                <li class="UpdateStory-updates-item" id="{{id}}" itemprop="itemListElement" itemscope
                    itemtype="http://schema.org/ListItem">{{this}}</li>
                {{/each}}
            </ul>
        {{/with}}
    </div>
    <div class="UpdateStory-body">
        {{#with body}}
            <div class="UpdateStory-body">{{this}}</div>
        {{/with}}
    </div>
