<a class="PodcastProviderPromo gtm_share" data-platform="apple" href="{{~#with url}}{{this}}{{~/with~}}"
    target="_blank" data-social-service="apple">
    <svg class="provider-icon"><use xlink:href="#apple"></use></svg>
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider2"}}</div>
</a>
