<a class="PodcastProviderPromo gtm_share" data-platform="stitcher" href="{{~#with url}}{{this}}{{~/with~}}"
    target="_blank" data-social-service="stitcher">
    <svg class="provider-icon"><use xlink:href="#stitcher"></use></svg>
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider9"}}</div>
</a>
