<!DOCTYPE html>
<html class="ColorPage" itemscope itemtype="http://schema.org/WebPage">
{{include "/page/Page-head.hbs" this}}

<body class="Page-body">
    <style type="text/css">
        .Page-body {
            padding-top: 0;
        }

        h2 {
            border-bottom: 1px solid gray;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        .ColorWrapper {
            max-width: 1000px;
            padding: 40px;
        }

        .ColorName {
            color: gray;
            font-size: 14px;
        }

        .ColorSwatches {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 20px;
            margin-bottom: 60px;
        }

        .ColorSwatch-swatch {
            border: 1px solid lightgray;
            margin-bottom: 10px;
            height: 140px;
            width: 100%;
        }
    </style>

    <div class="Page-content">
        <div class="ColorWrapper">
            <h2 class="page-title-2">Colors - Global</h2>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-primary);"></div>
                    <div class="ColorName">Color Primary</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-primary-text);"></div>
                    <div class="ColorName">Color Primary Text</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-secondary-text);"></div>
                    <div class="ColorName">Color Secondary Text</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-site-bg);"></div>
                    <div class="ColorName">Color Site Background</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-border);"></div>
                    <div class="ColorName">Color Default Border</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-callout-bg);"></div>
                    <div class="ColorName">Color Callout Background</div>
                </div>
            </div>

            <h2 class="page-title-2">Colors - Header</h2>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-header-bg);"></div>
                    <div class="ColorName">Color Header Background</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-header-secondary-bg);"></div>
                    <div class="ColorName">Color Header Secondary Background</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-header-text);"></div>
                    <div class="ColorName">Color Header Text</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-header-border);"></div>
                    <div class="ColorName">Color Header Border</div>
                </div>
            </div>

            <h2 class="page-title-2">Colors - Hat</h2>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-hat-bg);"></div>
                    <div class="ColorName">Color Footer Background</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-hat-text);"></div>
                    <div class="ColorName">Color Footer Text</div>
                </div>
            </div>

            <h2 class="page-title-2">Colors - Banner</h2>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-banner-bg);"></div>
                    <div class="ColorName">Color Footer Background</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-banner-text);"></div>
                    <div class="ColorName">Color Footer Text</div>
                </div>
            </div>

            <h2 class="page-title-2">Colors - Footer</h2>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-footer-bg);"></div>
                    <div class="ColorName">Color Footer Background</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-footer-text);"></div>
                    <div class="ColorName">Color Footer Text</div>
                </div>
            </div>

            <h2 class="page-title-2">Colors - Link</h2>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-link-text);"></div>
                    <div class="ColorName">Color Link Text</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-link-text-hover);"></div>
                    <div class="ColorName">Color Link Text on Hover</div>
                </div>
            </div>

            <h2 class="page-title-2">Colors - Buttons</h2>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-button-bg);"></div>
                    <div class="ColorName">Color Button Background</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-button-border);"></div>
                    <div class="ColorName">Color Button Border</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-button-text);"></div>
                    <div class="ColorName">Color Button Text</div>
                </div>
            </div>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-button-secondary-bg);"></div>
                    <div class="ColorName">Color Button Secondary Background</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-button-secondary-border);"></div>
                    <div class="ColorName">Color Button Secondary Border</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-button-secondary-text);"></div>
                    <div class="ColorName">Color Button Secondary Text</div>
                </div>
            </div>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-button-disabled);"></div>
                    <div class="ColorName">Color Button Disabled</div>
                </div>
            </div>

            <h2 class="page-title-2">Colors - Lists and Promos</h2>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-list-title);"></div>
                    <div class="ColorName">Color List Title</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-list-border);"></div>
                    <div class="ColorName">Color List Border</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-category-text);"></div>
                    <div class="ColorName">Color Category/Eyebrow Text</div>
                </div>
            </div>

            <h2 class="page-title-2">Colors - Sponsored Banner</h2>
            <div class="ColorSwatches">
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-sponsored-banner-bg);"></div>
                    <div class="ColorName">Sponsored Banner Text</div>
                </div>
                <div class="ColorSwatch">
                    <div class="ColorSwatch-swatch" style="background: var(--color-sponsored-banner-text);"></div>
                    <div class="ColorName">Sponsored Banner Background</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
