<!DOCTYPE html>
<html class="TypographyPage" itemscope itemtype="http://schema.org/WebPage">
{{include "/page/Page-head.hbs" this}}

<body class="Page-body">
    <style type="text/css">
        .Page-body {
            padding-top: 0;
        }

        .TypographyWrapper {
            padding: 40px;
            max-width: 1000px;
        }

        .TypographyExample {
            margin-bottom: 20px;
        }

        .notes {
            color: gray;
            font-size: 14px;
            margin-left: 20px;
        }

        h2 {
            border-bottom: 1px solid gray;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    </style>

    <div class="Page-content">
        <div class="TypographyWrapper">
            <h2 class="page-title-2">Go Typography</h2>

            <div class="TypographyExample">
                <span class="page-title-1">Page Title 1</span><span class="notes">page-title-1</span>
            </div>
            <div class="TypographyExample">
                <span class="page-title-2">Page Title 2</span><span class="notes">page-title-2</span>
            </div>

            <div class="TypographyExample">
                <span class="list-title-1">List Title 1</span><span class="notes">list-title-1</span>
            </div>
            <div class="TypographyExample">
                <span class="list-title-2">List Title 2</span><span class="notes">list-title-2</span>
            </div>
            <div class="TypographyExample">
                <span class="list-title-3">List Title 3</span><span class="notes">list-title-3</span>
            </div>

            <div class="TypographyExample">
                <span class="promo-title-1">Promo Title 1</span><span class="notes">promo-title-1</span>
            </div>
            <div class="TypographyExample">
                <span class="promo-title-2">Promo Title 2</span><span class="notes">promo-title-2</span>
            </div>
            <div class="TypographyExample">
                <span class="promo-title-3">Promo Title 3</span><span class="notes">promo-title-3</span>
            </div>
            <div class="TypographyExample">
                <span class="promo-title-4">Promo Title 4</span><span class="notes">promo-title-4</span>
            </div>
            <div class="TypographyExample">
                <span class="promo-title-5">Promo Title 5</span><span class="notes">promo-title-5</span>
            </div>
            <div class="TypographyExample">
                <span class="promo-title-6">Promo Title 6</span><span class="notes">promo-title-6</span>
            </div>


            <div class="TypographyExample">
                <span class="body-1">Article Body</span><span class="notes">body-1</span>
            </div>


            <div class="TypographyExample">
                <span class="subhead-1">Article Subhead</span><span class="notes">subhead-1</span>
            </div>



            <div class="TypographyExample">
                <span class="caption-1">Photo Captions</span><span class="notes">caption-1</span>
            </div>
            <div class="TypographyExample">
                <span class="credit-1">Photo Credits</span><span class="notes">credit-1</span>
            </div>



            <div class="TypographyExample">
                <span class="label-1">Eyebrow & Hat Navigation</span><span class="notes">label-1</span>
            </div>
            <div class="TypographyExample">
                <span class="label-2">Main Navigation</span><span class="notes">label-2</span>
            </div>
            <div class="TypographyExample">
                <span class="label-3">Buttons</span><span class="notes">label-3</span>
            </div>
            <div class="TypographyExample">
                <span class="label-4">Secondary Navigation & Filters</span><span class="notes">label-4</span>
            </div>
            <div class="TypographyExample">
                <span class="label-5">Small Buttons</span><span class="notes">label-5</span>
            </div>
            <div class="TypographyExample">
                <span class="label-6">X-Small Labels</span><span class="notes">label-6</span>
            </div>





            <div class="TypographyExample">
                <span class="description-1">Page & List Descriptions</span><span class="notes">description-1</span>
            </div>
            <div class="TypographyExample">
                <span class="description-2">Large Promo Descriptions</span><span class="notes">description-2</span>
            </div>
            <div class="TypographyExample">
                <span class="description-3">Small Promo Descriptions</span><span class="notes">description-3</span>
            </div>



            <div class="TypographyExample">
                <span class="byline-1">Promo Byline</span><span class="notes">byline-1</span>
            </div>
            <div class="TypographyExample">
                <span class="byline-2">Article Byline</span><span class="notes">byline-2</span>
            </div>


            <div class="TypographyExample">
                <span class="quote-1">Quote</span><span class="notes">quote-1</span>
            </div>
        </div>
    </div>
</body>
</html>
