<div class="List"{{extraAttributes}}>
    {{#with title}}
        <div class="List-title">{{this}}</div>
    {{/with}}
    {{#with items}}
        <ul class="List-items">
            {{#each this}}
                <li class="List-items-item">{{this}}</li>
            {{/each}}
        </ul>
    {{/with}}
    <div class="List-pagination">
        {{#each pagination}}
            {{this}}
        {{/each}}
    </div>
</div>
