<svg width="20" height="24" viewBox="0 0 20 24">
    <title>PDF</title>
    <g stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
        <path d="M8.1353,14.0488 C8.5743,13.8088 9.0223,13.5948 9.4743,13.4068 C9.0293,13.1268 8.6003,12.8208 8.1893,12.4888 C8.1993,13.0238 8.1813,13.5448 8.1353,14.0488"></path>
        <path d="M4.896,17.9243 C4.43,18.4963 5.277,18.7913 5.61,18.3363 C6.067,17.7093 6.428,16.9923 6.689,16.1993 C5.734,16.9493 5.144,17.6193 4.896,17.9243"></path>
        <path d="M5.7964,8.209 C6.1324,8.763 6.4984,9.284 6.8894,9.771 C6.6734,8.672 6.4054,7.894 6.3044,7.619 C6.1294,7.142 5.4764,7.683 5.7964,8.209"></path>
        <path d="M14.6807,13.4336 C13.8317,13.4006 13.0077,13.4656 12.1767,13.6266 C13.2267,14.0156 14.1607,14.1966 14.8347,14.2796 C15.3757,14.3086 15.3407,13.4596 14.6807,13.4336"></path>
        <path d="M13,7 L13,1 L19,7 L13,7 Z M14.713,15.271 C13.73,15.15 12.236,14.839 10.617,14.042 C9.704,14.354 8.81,14.78 7.953,15.313 C7.676,16.691 7.161,17.907 6.418,18.926 C5.269,20.5 2.814,18.904 4.12,17.293 C4.467,16.865 5.432,15.779 7.046,14.707 C7.202,13.729 7.233,12.666 7.138,11.545 C6.319,10.727 5.581,9.779 4.942,8.729 C3.864,6.955 6.557,5.414 7.243,7.271 C7.393,7.68 7.889,9.133 8.098,11.083 C8.888,11.828 9.763,12.459 10.705,12.963 C12.024,12.561 13.357,12.381 14.72,12.436 C16.764,12.513 16.633,15.513 14.713,15.271 L14.713,15.271 Z M19.854,6.146 L13.854,0.146 C13.76,0.053 13.632,0 13.5,0 L0.5,0 C0.224,0 0,0.224 0,0.5 L0,23.5 C0,23.776 0.224,24 0.5,24 L19.5,24 C19.776,24 20,23.776 20,23.5 L20,6.5 C20,6.367 19.947,6.24 19.854,6.146 L19.854,6.146 Z"></path>
    </g>
</svg>