.VideoEnhancement {
  &-title {
    &:extend(.caption-1 all);

    margin-top: (@grid-gap / 2);
    padding-left: @grid-gap;
    padding-right: @grid-gap;
  }

  @media @mq-viewport-lg {
    padding-left: 0;
    padding-right: 0;
  }
}
