<div class="VideoEnhancement" data-video-disable-history>
    {{#with player}}
        <div class="VideoEnhancement-player">{{this}}</div>
    {{/with}}
        {{#with subHeadline}}
        <div class="VideoEnhancement-title">{{this}}</div>
    {{/with}}
</div>
