<nav class="Navigation"{{#with navAlign}}data-nav-align="{{this}}"{{/with}}>
    {{#with items}}
        <ul class="Navigation-items">
            {{#each this}}
                <li class="Navigation-items-item"{{#if this.isCurrent}} data-current-nav-item{{/if}}{{#if this.socialService}} data-social-nav-item{{/if}}>{{this}}</li>
            {{/each}}
        </ul>
    {{/with}}
</nav>
