<div class="ActionBar">
    {{#with items}}
        <ul class="ActionBar-items">
            {{#each this}}
                <li class="ActionBar-items-item">{{this}}</li>
            {{/each}}
        </ul>
    {{/with}}
</div>
