<a class="ActionLink" href="https://www.linkedin.com/shareArticle?
    {{~#with url}}url={{this}}&{{~/with~}}mini=true&
    {{~#with title}}title={{this}}&{{~/with~}}
    {{~#with summary}}summary={{this}}&{{~/with~}}
    {{~#with source}}source={{this}}{{~/with~}}"
    target="_blank" data-social-service="linkedin">
    <svg><use xlink:href="#mono-icon-linkedin"></use></svg><span>LinkedIn</span>
</a>
