<div class="SearchModule"
    {{#with background}}
        style="background-image: url('{{this.image.src}}');"
    {{/with}}>
    {{#if searchAction}}
        <form class="SearchModule-search" action="{{searchAction}}" novalidate="" autocomplete="off">
            <input type="text" class="SearchModule-searchInput" placeholder="{{placeholder}}" name="q">
            <button type="submit" class="SearchModule-searchButton"></button>
        </form>
    {{/if}}
