<a class="SearchControl" href="{{url}}"{{#if selected}} data-selected{{/if}}>
    {{#with label}}
        <span class="SearchControl-label">{{this}}</span>
    {{/with}}
    {{#with count}}
        <span class="SearchControl-count">({{this}})</span>
    {{/with}}
</a>
