<div class="ProductLaunchModule">

  {{#with media}}
    <div class="ProductLaunchModule-media">{{this}}</div>
  {{/with}}

  {{#with title}}
    <div class="ProductLaunchModule-title">{{this}}</div>
  {{/with}}

  {{#with description}}
    <div class="ProductLaunchModule-description">{{this}}</div>
  {{/with}}

  {{#with endDate}}
    <div class="ProductLaunchModule-description">{{this}}</div>
  {{/with}}

</div>
