<Slide>
    {{#with infoTitle}}
        <title>{{this}}</title>
    {{/with}}
    {{#with infoDescription}}
        <description>{{this}}</description>
    {{/with}}
    {{#with mediaContent}}
        <media>{{this}}</media>
    {{/with}}
    {{#with infoAttribution}}
        <attribution>{{this}}</attribution>
    {{/with}}
</Slide>
