{{#block "VideoEnhancement" extend="_SourceVideoEnhancement.hbs"}}
    <span class="{{blockName}}" data-video-disable-history data-embeddedvideo-container>
        {{element "player"}}
        {{element "title"}}
    </span>
{{/block}}
