<div class="LargeCarousel"{{extraAttributes}}>
    {{#with items}}
        <div class="LargeCarousel-items">
            {{#each this}}
                <div class="LargeCarousel-items-item">
                    {{render this [/core/promo/Promo.hbs]="/core/promo/PromoTextOverlay-large.hbs"}}
                </div>
            {{/each}}
        </div>
    {{/with}}
</div>
