<div class="ListPartnerCarousel"{{extraAttributes}}
    {{#if displayHorizontalRule}} data-horizontal-rule='true'{{/if}}
    {{#if backgroundColor}}style="--color:var(--{{backgroundColor}})"{{/if}}>
    {{#with title}}
        <div class="ListPartnerCarousel-title">{{this}}</div>
    {{/with}}
    {{#with items}}
        <ul class="ListPartnerCarousel-items">
            {{#each this}}
                <li class="ListPartnerCarousel-items-item">
                    {{render this [/core/promo/Promo.hbs]="/core/promo/PromoPartner.hbs"}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
</div>
