{{#block "ListHorizontalRule" override="ListSmall.hbs"}}
    {{#element "title"}}
      <div class="{{elementName}}">
        {{this}}
        <hr class="{{elementName}}-hr">
      </div>
    {{/element}}
{{/block}}
