<div class="ListOrderedSticky" data-shortMonths="false" {{extraAttributes}}>
    <header>
        {{#with title}}
            <div class="ListOrderedSticky-title mood-color">{{this}}</div>
        {{/with}}
        <div class="ListOrderedSticky-description">
            <span class="date" data-i18n-date></span>
        </div>
    </header>
    {{#with items}}
        <ol class="ListOrderedSticky-items">
            {{#each this}}
                <li class="ListOrderedSticky-items-item">
                    <span class="number"></span>
                    {{render this [/core/promo/Promo.hbs]="/core/promo/PromoTextItem.hbs"}}
                </li>
            {{/each}}
        </ol>
    {{/with}}
</div>
