<div class="MetricsThreeColumnList" {{#if backgroundImageAndColor}} style="background:{{backgroundImageAndColor.cssValue}}; background-size: cover;"{{/if}}
    {{#if inverseColors}}data-inverse-colors {{/if}}
    {{#if promoColor}}data-promo-color {{/if}}
    {{#if addBorder}}data-add-border {{/if}}
    {{#if hidePromoBackgroundColor}}data-hide-promo-bg {{/if}}>
    {{#with title}}
        <div class="MetricsThreeColumnList-title">{{this}}</div>
    {{/with}}
    {{#with description}}
        <div class="MetricsThreeColumnList-description">{{this}}</div>
    {{/with}}
    {{#with items}}
        <div class="MetricsThreeColumnList-items">
            {{#partition this size=3}}
                {{#each this}}
                    <div class="MetricsThreeColumnList-items-item">
                        {{render this [/core/promo/Promo.hbs]="/core/promo/MetricsPromo.hbs"}}
                    </div>
                {{/each}}
            {{/partition}}
        </div>
    {{/with}}
</div>
