<div class="ProductPromoList"
    {{#if reverseOrder}} data-reverse-order{{/if}}
    {{#if noTopPadding}}data-nopaddingtop{{/if}}>
    {{#with title}}
        <div class="ProductPromoList-title">{{this}}</div>
    {{/with}}
    {{#with description}}
        <div class="ProductPromoList-description">{{this}}</div>
    {{/with}}
    {{#with items}}
        <div class="ProductPromoList-items">
            {{#each this}}
                <div class="ProductPromoList-items-item">
                    {{render this [/core/promo/Promo.hbs]="/core/promo/ProductPromo.hbs"}}
                </div>
            {{/each}}
        </div>
    {{/with}}
</div>
