<div class="TagList"
    {{#if backgroundColor}}style="--color:var(--{{backgroundColor}})"{{/if}}>
    {{#with title}}
        <div class="TagList-title">{{this}}</div>
    {{/with}}
    {{#with items}}
        <ul class="TagList-items">
            {{#each this}}
                <li class="TagList-items-item">
                    {{render this [/core/promo/Promo.hbs]="/core/promo/PromoTextItem.hbs"}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
</div>
