<div class="VideoPromoList" data-column-count="3"
    {{#if fullWidth}}data-full-width{{/if}}
    {{extraAttributes}}
    {{#if backgroundColor}}style="--color:var(--{{backgroundColor}})"{{/if}}
    {{#if noTopPadding}}data-nopaddingtop{{/if}}
    {{#if partialGradient}}data-gradient="partial"{{/if}}>
    {{#with title}}
        <div class="VideoPromoList-title">{{this}}</div>
    {{/with}}
    {{#with items}}
        <div class="VideoPromoList-items">
            {{#partition this size=3}}
                {{#each this}}
                    <div class="VideoPromoList-items-item">
                        {{render this [/core/promo/Promo.hbs]="/core/promo/VideoPromo.hbs"}}
                    </div>
                {{/each}}
            {{/partition}}
        </div>
    {{/with}}
</div>
