{{#with countries}}
    <div class="EpisodePage-countries">
        <h2 class="EpisodePage-countries-heading">{{format "/core/page/ContentPage" "countriesHeading"}}</h2>
        <div class="EpisodePage-countries-body">{{this}}</div>
    </div>
{{/with}}
