{{#with topics}}
    <div class="EpisodePage-topics">
        <h2 class="EpisodePage-topics-heading">{{format "/core/page/ContentPage" "topicsHeading"}}</h2>
        <div class="EpisodePage-topics-body">{{this}}</div>
    </div>
{{/with}}
