{{#with actions}}
    <div class="EpisodePage-actions">
        <h2 class="EpisodePage-actions-heading">{{format "/core/page/ContentPage" "actionsHeading"}}</h2>
        <div class="EpisodePage-actions-body">{{this}}</div>
    </div>
{{/with}}
