{{#with products}}
    <div class="EpisodePage-products">
        <h2 class="EpisodePage-products-heading">{{format "/core/page/ContentPage" "productsHeading"}}</h2>
        <div class="EpisodePage-products-body">{{this}}</div>
    </div>
{{/with}}
