{{#with brands}}
    <div class="EpisodePage-brands">
        <h2 class="EpisodePage-brands-heading">{{format "/core/page/ContentPage" "brandsHeading"}}</h2>
        <div class="EpisodePage-brands-body">{{this}}</div>
    </div>
{{/with}}
