<a class="PodcastProviderPromo gtm_share" data-platform="amazon-alexa" href="{{~#with url}}{{this}}{{~/with~}}"
    target="_blank" data-social-service="amazon-alexa">
    <svg class="provider-icon"><use xlink:href="#amazon-alexa"></use></svg>
    <div class="PodcastProviderPromo-label">{{format "/podcast/providers/PodcastProviders" "labelForProvider1"}}</div>
</a>
