<amp-social-share class="ActionLink" type="pinterest"
    {{~#with url}}data-param-url="{{this}}"{{~/with~}}
    {{~#with description}}data-param-description="{{{this}}}"{{~/with~}}
    {{~#with media}}data-param-media="{{this}}"{{~/with~}}
    width="30px"
    height="30px">
    <svg><use xlink:href="#mono-icon-pinterest"></use></svg><span>Pinterest</span>
</amp-social-share>
