<a class="ActionLink" href="https://pinterest.com/pin/create/bookmarklet/?
    {{~#with url}}url={{this}}{{~/with~}}
    {{~#with description}}&description={{this}}{{~/with~}}
    {{~#with media}}&media={{this}}{{~/with~}}"
    target="_blank" data-social-service="pinterest">
    <svg><use xlink:href="#mono-icon-pinterest"></use></svg><span>Pinterest</span>
</a>
