<!DOCTYPE html>
<html class="TypographyPage" itemscope itemtype="http://schema.org/WebPage">
{{include "/page/Page-head.hbs" this}}

<body class="Page-body">
    <style type="text/css">
        .Page-body {
            padding-top: 0;
        }

        .TypographyWrapper {
            padding: 0 0 20px;
            max-width: 1000px;
        }

        .TypographyExample {
            margin-bottom: 20px;
        }

        .notes {
            color: gray;
            font-size: 14px;
            margin-left: 20px;
        }

        h2 {
            border-bottom: 1px solid gray;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    </style>

    <div class="Page-content">
        <div class="TypographyWrapper">
            <h2 class="title-2">Go Typography</h2>

            <div class="TypographyExample">
                <span class="title-1">Title 1</span><span class="notes">title-1</span>
            </div>
            <div class="TypographyExample">
                <span class="title-2">Title 2</span><span class="notes">title-2</span>
            </div>
            <div class="TypographyExample">
                <span class="title-3">Title 3</span><span class="notes">title-3</span>
            </div>
            <div class="TypographyExample">
                <span class="title-4">Title 4</span><span class="notes">title-4</span>
            </div>
            <div class="TypographyExample">
                <span class="title-5">Title 5</span><span class="notes">title-5</span>
            </div>
            <div class="TypographyExample">
                <span class="title-6">Title 6</span><span class="notes">title-6</span>
            </div>
            <div class="TypographyExample">
                <span class="title-7">Title 7</span><span class="notes">title-7</span>
            </div>
            <div class="TypographyExample">
                <span class="body-1">Article Body</span><span class="notes">body-1</span>
            </div>
            <div class="TypographyExample">
                <span class="subhead-1">Article Subhead & Intro</span><span class="notes">subhead-1</span>
            </div>
            <div class="TypographyExample">
                <span class="caption-1">Photo Caption</span><span class="notes">caption-1</span>
            </div>
            <div class="TypographyExample">
                <span class="caption-2">Photo Credit</span><span class="notes">caption-2</span>
            </div>
            <div class="TypographyExample">
                <span class="label-1">Eyebrow & Hat Navigation</span><span class="notes">label-1</span>
            </div>
            <div class="TypographyExample">
                <span class="label-2">Main Navigation</span><span class="notes">label-2</span>
            </div>
            <div class="TypographyExample">
                <span class="label-3">Buttons</span><span class="notes">label-3</span>
            </div>
            <div class="TypographyExample">
                <span class="label-4">Secondary Navigation & Filters</span><span class="notes">label-4</span>
            </div>
            <div class="TypographyExample">
                <span class="label-5">Small Buttons</span><span class="notes">label-5</span>
            </div>
            <div class="TypographyExample">
                <span class="label-6">X-Small Label</span><span class="notes">label-5</span>
            </div>
            <div class="TypographyExample">
                <span class="description-1">Page & Larger Description</span><span class="notes">description-1</span>
            </div>
            <div class="TypographyExample">
                <span class="description-2">Promo Description</span><span class="notes">description-2</span>
            </div>
            <div class="TypographyExample">
                <span class="byline-1">Promo & Article Byline</span><span class="notes">byline-1</span>
            </div>
            <div class="TypographyExample">
                <span class="quote-1">Quote</span><span class="notes">quote-1</span>
            </div>
        </div>
    </div>
</body>
</html>
