{{#block "SocialLink" extend="_SourceSocialLink.hbs"}}
    <a class="{{blockName}}" href="{{href}}" target="_blank" data-social-service="{{socialService}}"><svg><use xlink:href="#mono-icon-{{socialService}}"/></svg></a>
{{/block}}
