.NavigationItem {
  position: relative;
  white-space: nowrap;

  &-more {
    border-left: 1px solid var(--color-header-border);
    cursor: pointer;
    height: 56px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;

    button {
      &:extend(.NotButton all);

      height: 100%;
      position: relative;
      width: 100%;
    }

    svg {
      fill: var(--color-header-text);
      height: 17px;
      position: absolute;
      left: 20px;
      top: 20px;
      width: 11px;

      [data-item-click="true"] & {
        transform: rotate(180deg);
        top: 16px;
      }
    }
  }

  &-items {
    border-top: 1px solid var(--color-header-border);
    display: none;
    padding: 15px 0 15px 20px;

    [data-item-click="true"] & {
      display: block;
    }
  }

  // These are the top level items in the navigation
  &-text {
    &:extend(.label-2);
    font-size: 1.6rem;
    line-height: 1;
    color: var(--color-header-text);
    display: flex;
    justify-content: space-between;

    a,
    span {
      color: var(--color-header-text);
      display: block;
      padding: 20px;
      width: 100%;
      margin-bottom: -5px;
      border-bottom: 5px solid transparent;
      transition: all 0.1s ease;
    }
  }

  // These are the subnav items
  .NavigationLink {
    &:extend(.label-2);
    font-size: 1.6rem;
    color: var(--color-header-text);
    display: block;
    padding: 15px;
    width: 100%;
    text-transform: capitalize;

    &:hover {
      color: var(--color-primary);
    }
  }

  @media @mq-hk {
    align-items: center;
    display: flex;
    height: 100%;

    &-items {
      background: var(--color-header-secondary-bg);
      border-top: 0;
      display: grid;
      left: -10px;
      padding: 15px 0;
      position: absolute;
      top: var(--headerHeight);
      min-width: 260px;
      word-break: keep-all;
      overflow: hidden;
      visibility: hidden;
      z-index: @z-index-header + 1;
      width: auto;

      &[data-columns='2'] {
        grid-template-columns: 1fr 1fr;
        min-width: 520px;

        &:before {
          background: var(--color-header-border);
          bottom: 30px;
          content: '';
          left: 260px;
          position: absolute;
          top: 30px;
          width: 1px;
        }
      }

      &[data-columns='3'] {
        grid-template-columns: 1fr 1fr 1fr;
        min-width: 780px;

        &:before {
          background: var(--color-header-border);
          bottom: 30px;
          content: '';
          left: 260px;
          position: absolute;
          top: 30px;
          width: 1px;
        }

        &:after {
          background: var(--color-header-border);
          bottom: 30px;
          content: '';
          left: 520px;
          position: absolute;
          top: 30px;
          width: 1px;
        }
      }

      &[data-open-direction='left'] {
        position: fixed;
        left: unset;
        right: 20px;

        :root[data-header-hat=true] & {
          top: calc(~'var(--headerHeight) + var(--hatHeight)');
        }
      }

      [data-item-hover] & {
        overflow: initial;
        visibility: visible;
      }

      &-item {
        position: relative;

        .NavigationLink {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    &-more {
      border-left: 0;
      height: 100%;
      width: auto;
      right: 15px;

      svg {
        height: 17px;
        left: unset;
        position: relative;
        top: 0px;
      }
    }

    &-text {
      padding: 0px 5px;

      a,
      span {
        padding: 10px;

        .has-menu & {
          padding: 10px 35px 10px 10px;
        }

        &:hover,
        [data-item-hover] & {
          border-bottom: 5px solid var(--color-primary);
          color: inherit;
        }

        [data-toggle-header="hamburger-menu"] & {
          border-bottom: 0;
          padding: 20px;
        }
      }
    }
  }
}
