<div class="CaptchaInput">
    {{~#with errors}}
    <div class="CaptchaInput-errors">{{~this~}}</div>
    {{/with~}}

    <label class="CaptchaInput-label"><span>{{label}}</span>
        {{~#with captcha}}
        <div class="CaptchaInput-captcha">{{this}}</div>
        {{/with~}}

        {{~#with description}}
        <div class="CaptchaInput-description">{{~this~}}</div>
        {{/with~}}
    </label>
</div>
