
    <script>
        (function() {
            document.addEventListener("DOMContentLoaded", function() {
                if (!window.recaptchaLoaded) {
                    var RECAPTCHA_SELECTOR = '.GoogleCaptcha',
                            RECAPTCHA_UNCHECKED_CLASSNAME = 'CaptchaInput-error',
                            DATA_FORM_DISABLE_SELECTOR = 'data-form-disabled',
                            RECAPTCHA_LIBRARY = 'https://www.google.com/recaptcha/api.js?onload=recaptchaLoaded',
                            recaptchas;

                    var stopFormSubmit = function(e) {
                        var captcha = e.target.querySelector(RECAPTCHA_SELECTOR);

                        e.preventDefault();
                        e.stopImmediatePropagation();
                        e.stopPropagation();

                        captcha.classList.add(RECAPTCHA_UNCHECKED_CLASSNAME);
                        if ('scrollIntoView' in document.documentElement) {
                            captcha.scrollIntoView(false);
                        }
                    };

                    // Polyfill for DOM 'closest' function for IE 9+
                    if (!Element.prototype.closest) {
                        if (!Element.prototype.matches) {
                            Element.prototype.matches = Element.prototype.msMatchesSelector || Element.prototype.webkitMatchesSelector;
                        }

                        Element.prototype.closest = function (s) {
                            var el = this;
                            if (!document.documentElement.contains(el)) return null;
                            do {
                                if (el.matches(s)) return el;
                                el = el.parentElement || el.parentNode;
                            } while (el !== null && el.nodeType === 1);
                            return null;
                        };
                    }

                    window.recaptchaLoaded = function () {
                        recaptchas = document.querySelectorAll(RECAPTCHA_SELECTOR);
                        window.recaptchaDisable();
                    };

                    window.recaptchaEnable = function () {
                        recaptchas.forEach(function (captcha) {
                            let form = captcha.closest('form');
                            form.removeAttribute(DATA_FORM_DISABLE_SELECTOR);
                            form.removeEventListener('submit', stopFormSubmit);
                            captcha.classList.remove(RECAPTCHA_UNCHECKED_CLASSNAME);
                        });
                    };

                    window.recaptchaDisable = function () {
                        recaptchas.forEach(function (captcha) {
                            let form = captcha.closest('form');
                            form.setAttribute(DATA_FORM_DISABLE_SELECTOR, '');
                            form.addEventListener('submit', stopFormSubmit);
                        });
                    };

                    let scriptTag = document.createElement('script');
                    scriptTag.setAttribute('src', RECAPTCHA_LIBRARY);
                    scriptTag.setAttribute('async', 'true');
                    document.querySelector('head').appendChild(scriptTag);
                }
            });
        })();
    </script>
    <div class="GoogleCaptcha g-recaptcha" data-sitekey="{{key}}" data-callback="recaptchaEnable" data-expired-callback="recaptchaDisable"></div>
