<div class="MetricsPromo">
    <div class="MetricsPromo-info">
        {{#with title}}
            <div class="MetricsPromo-title">
                {{include "../link/Link.hbs" href=../url target=../target body=this}}
            </div>
        {{/with}}
        {{#with description}}
            <div class="MetricsPromo-description">{{this}}</div>
        {{/with}}
    </div>
</div>
