{{#block "PromoCategoryTitle" extend="Promo.hbs"}}
  <div class="{{blockName}}">
    {{#element "info" noWith=true}}
        <div class="{{elementName}}">
          {{element "category"}}
          {{element "title"}}
        </div>
    {{/element}}
  </div>
{{/block}}
