<div class="PromoTextItem">
    {{#with title}}
        <div class="PromoTextItem-title">
            {{include "../link/Link.hbs" href=../url target=../target body=this}}
        </div>
    {{/with}}
</div>
