<div class="PromoCategoryTitle">
    <div class="PromoCategoryTitle-info">
        {{#with category}}
            <div class="PromoCategoryTitle-category">
                {{include "../link/Link.hbs" href=../categoryUrl target=../target body=this contentId=../categoryId}}
            </div>
        {{/with}}
        {{#with title}}
            <div class="PromoCategoryTitle-title">
                {{include "../link/Link.hbs" href=../url target=../target body=this}}
            </div>
        {{/with}}
    </div>
</div>
