<div class="FooterColumns">
    {{#with columns}}
        <ul class="FooterColumns-columns">
            {{#each this}}
                <li class="FooterColumns-columns-item">{{this}}</li>
            {{/each}}
        </ul>
    {{/with}}
</div>
