<div class="FourColumnContainer">
    <div class="FourColumnContainer-row">
        {{#with columnOne}}
            <div class="FourColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
        {{#with columnTwo}}
            <div class="FourColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
        {{#with columnThree}}
            <div class="FourColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
        {{#with columnFour}}
            <div class="FourColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
    </div>
</div>
