<div class="OneColumnContainer">
    <div class="OneColumnContainer-row">
        {{#with columnOne}}
            <div class="OneColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
    </div>
</div>
