<div class="ThreeColumnContainer">
    <div class="ThreeColumnContainer-row">
        {{#with columnOne}}
            <div class="ThreeColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
        {{#with columnTwo}}
            <div class="ThreeColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
        {{#with columnThree}}
            <div class="ThreeColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
    </div>
</div>
