<div class="TwoColumnContainer">
    <div class="TwoColumnContainer-row">
        {{#with columnOne}}
            <div class="TwoColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
        {{#with columnTwo}}
            <div class="TwoColumnContainer-column">
                {{this}}
            </div>
        {{/with}}
    </div>
</div>
