<div class="TwoColumnContainer3070" data-module{{include "includes/Container-attributes.hbs" this}}>
    {{include "includes/Container-title.hbs" this}}

    <div class="TwoColumnContainer3070-container">
        {{#with columnOne}}
            <div class="TwoColumnContainer3070-column" data-modulewell>
                {{this}}
            </div>
        {{/with}}
        {{#with columnTwo}}
            <div class="TwoColumnContainer3070-column" data-modulewell>
                {{this}}
            </div>
        {{/with}}
    </div>
</div>
