<div class="TwoColumnContainer5050" data-module{{include "includes/Container-attributes.hbs" this}}>
    {{include "includes/Container-title.hbs" this}}

    <div class="TwoColumnContainer5050-container">
        {{#with columnOne}}
            <div class="TwoColumnContainer5050-column" data-modulewell>
                {{this}}
            </div>
        {{/with}}
        {{#with columnTwo}}
            <div class="TwoColumnContainer5050-column" data-modulewell>
                {{this}}
            </div>
        {{/with}}
    </div>
</div>
