registry=https://artifactory.psdops.com/api/npm/npm
@babel:registry=https://registry.npmjs.org/
@webassemblyjs:registry=https://registry.npmjs.org/
@xtuc:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
