<div class="PersonList" data-module{{include "/page/list/includes/PageList-attributes.hbs" this}}>
    {{include "/page/list/includes/PageList-header.hbs" this}}

    {{#with items}}
        <ul class="PersonList-items" data-with-borders>
            {{#each this}}
                <li class="PersonList-items-item">
                    {{include "/person/promo/PersonPromo.hbs" this}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
    {{include "/page/list/includes/PageList-footer.hbs" this}}
</div>
