<!DOCTYPE html>
<html class="TypographyPage" lang="{{#with language}}{{this}}{{else}}en{{/with}}" itemscope itemtype="http://schema.org/WebPage">
{{include "/core/page/Page-head.hbs" this}}

<body class="Page-body" {{~#each extraBodyAttributes}} {{this}} {{~/each~}}>
    <style type="text/css">
        .TypographyWrapper {
            max-width: 800px;
            padding: 40px;
        }

        .TypographyExample {
            margin-bottom: 20px;
        }

        .TypographySection {
            margin-bottom: 40px;
        }

        .notes {
            margin-left: 20px;
        }

        h2 {
            border-bottom: 1px solid gray;
            padding-bottom: 5px;
            margin-bottom: 20px;
        }
    </style>
    <main class="Page-main">
        <div class="TypographyWrapper">
            <div class="TypographySection">
                <h2 class="title-2">Titles</h2>
                <div class="TypographyExample">
                    <span class="title-1">Promo Title XL</span><span class="notes">title-1</span>
                </div>
                <div class="TypographyExample">
                    <span class="title-2">Page Header</span><span class="notes">title-2</span>
                </div>
                <div class="TypographyExample">
                    <span class="title-3">Promo Title Large</span><span class="notes">title-3</span>
                </div>
                <div class="TypographyExample">
                    <span class="title-4">Promo Title Medium</span><span class="notes">title-4</span>
                </div>
                <div class="TypographyExample">
                    <span class="title-5">Module Header</span><span class="notes">title-5</span>
                </div>
                <div class="TypographyExample">
                    <span class="title-6">Promo Title Small</span><span class="notes">title-6</span>
                </div>
            </div>
            <div class="TypographySection">
                <h2 class="title-2">Descriptions</h2>
                <div class="TypographyExample">
                    <span class="description-1">Module Description</span><span class="notes">description-1</span>
                </div>
            </div>
            <div class="TypographySection">
                <h2 class="title-2">Labels</h2>
                <div class="TypographyExample">
                    <span class="label-1">Label 1</span><span class="notes">label-1</span>
                </div>
                <div class="TypographyExample">
                    <span class="label-2">Label 2</span><span class="notes">label-2</span>
                </div>
                <div class="TypographyExample">
                    <span class="label-3">Label 3</span><span class="notes">label-3</span>
                </div>
                <div class="TypographyExample">
                    <span class="label-4">Label 4</span><span class="notes">label-4</span>
                </div>
            </div>
            <div class="TypographySection">
                <h2 class="title-2">Misc</h2>
                <div class="TypographyExample">
                    <span class="date-1">Date Attribution</span><span class="notes">date-1</span>
                </div>
                <div class="TypographyExample">
                    <span class="caption-1">Caption</span><span class="notes">caption-1</span>
                </div>
                <div class="TypographyExample">
                    <span class="byline-1">Byline</span><span class="notes">byline-1</span>
                </div>
                <div class="TypographyExample">
                    <span class="body-1">Body Text 1</span><span class="notes">body-1</span>
                </div>
                <div class="TypographyExample">
                    <span class="body-2">Body Text 2</span><span class="notes">body-2</span>
                </div>
                <div class="TypographyExample">
                    <span class="quote-1">Quote Text</span><span class="notes">quote-1</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
