<amp-social-share class="ActionLink" type="linkedin"
    {{~#with url}}data-param-url="{{this}}"{{~/with~}}
        width="30px"
        height="30px"
    >
    <span>LinkedIn</span>
</amp-social-share>
