<a class="ActionLink" href="https://www.tumblr.com/widgets/share/tool?
    {{~#with url}}canonicalUrl={{this}}{{~/with~}}"
    target="_blank" data-social-service="tumblr">
    {{include (iconPath 'tumblr-logo')}}
</a>
