<div id="coral_thread"></div>
<script type="text/javascript">
  (function() {
      var d = document, s = d.createElement('script');
      {{#with coralId}}const coralId = "{{this}}";{{/with}}
      {{#with coralStoryId}}const coralStoryId = "{{this}}";{{/with}}
      {{#with coralStoryUrl}}const coralStoryUrl = "{{this}}";{{/with}}
      s.src = `https://${coralId}.coral.coralproject.net/assets/js/embed.js`;
      s.async = false;
      s.defer = true;
      s.onload = function() {
          Coral.createStreamEmbed({
              id: "coral_thread",
              autoRender: true,
              rootURL: `https://${coralId}.coral.coralproject.net`,
              storyID: coralStoryId,
              storyURL: coralStoryUrl,
          });
      };
      (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>{{format "coralNoScript"}}</noscript>
