<span class="VideoEnhancement" data-video-disable-history>
    {{#with title}}
        <div class="VideoEnhancement-title">{{this}}</div>
    {{/with}}
    {{#with actions}}
        <div class="VideoEnhancement-actions">{{this}}</div>
    {{/with}}
    {{#with player}}
        <div class="VideoEnhancement-player">{{this}}</div>
    {{/with}}
    {{#with playlist}}
        <div class="VideoEnhancement-playlist">{{this}}</div>
    {{/with}}
</span>
