{{#set imageSize="large-16x9"}}
    <div class="LiveBlogPage-currentPosts">
        {{#set sizes="(max-width: 1024px) 100vw, 800px"}}
            {{currentPosts}}
        {{/set}}
    </div>
{{/set}}
