<bsp-liveblog-new-post-link class="LiveBlogNewPostLink">
    <a class="LiveBlogNewPostLink-link">
        {{include (iconPath 'arrow-up')}}
        {{format '/liveblog/LiveBlogPage' 'latestUpdateText'}}
    </a>
    <button class="LiveBlogNewPostLink-dismissButton" type="button">{{include (iconPath 'x')}}</button>
</bsp-liveblog-new-post-link>