<nav class="FooterNavigation"{{extraAttributes}}>
    {{#with items}}
        <ul class="FooterNavigation-items">
            {{#each this}}
                <li class="FooterNavigation-items-item">
                    {{render this [/core/navigation/NavigationItem.hbs]="/core/navigation/FooterNavigationItem.hbs"}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
</nav>
