<div class="StockTicker" data-service-uri="{{serviceUri}}" data-update-interval="{{updateInterval}}">
    {{#with exchange}}
        <span class="StockTicker-exchange">{{this}}</span>:
    {{/with}}
    {{#with symbol}}
        <span class="StockTicker-symbol">{{this}}</span>
    {{/with}}
    <span class="StockTicker-lastPrice"></span>
    <span class="StockTicker-change"></span>
    <span class="StockTicker-percentageChange"></span>
    <span class="StockTicker-dayHigh"></span>
    <span class="StockTicker-dayLow"></span>
    <span class="StockTicker-volume"></span>
    <span class="StockTicker-sharesTraded"></span>
    <span class="StockTicker-lastUpdated"></span>
</div>
