<div class="Tabs"{{extraAttributes}}>
    {{#with title}}
        <div class="Tabs-title">{{this}}</div>
    {{/with}}
    {{#with tabs}}
        <div class="Tabs-tabs">
            <div class="Tabs-tabLabels">
                {{#each this}}
                    <div class="Tabs-tabLabel" data-tab-label>
                        {{#if anchor}}
                            {{include "../link/Link.amp.hbs" href=anchor target=target body=label}}
                        {{/if}}
                    </div>
                {{/each}}
            </div>
            <div class="Tabs-tabContents">
                {{#each this}}
                    {{this}}
                {{/each}}
            </div>
        </div>
    {{/with}}
</div>
