<table class="NewsletterPromoBanner">
    {{#with title}}
        <tr>
            <td class="NewsletterPromoBanner-title">{{this}}</a></td>
        </tr>
    {{/with}}
    {{#with description}}
        <tr>
            <td class="NewsletterPromoBanner-description">{{this}}</td>
        </tr>
    {{/with}}
</table>
