<div class="TwoColumnContainer7030">
    <div class="TwoColumnContainer7030-row">
        {{#with columnOne}}
            <div class="TwoColumnContainer7030-column">
                {{this}}
            </div>
        {{/with}}
        {{#with columnTwo}}
            <div class="TwoColumnContainer7030-column">
                {{this}}
            </div>
        {{/with}}
    </div>
</div>
