<div class="TwoColumnContainer3070">
    <div class="TwoColumnContainer3070-row">
        {{#with columnOne}}
            <div class="TwoColumnContainer3070-column">
                {{this}}
            </div>
        {{/with}}
        {{#with columnTwo}}
            <div class="TwoColumnContainer3070-column">
                {{this}}
            </div>
        {{/with}}
    </div>
</div>
