<nav class="Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement"{{extraAttributes}}>
    {{#with label}}
        <div class="Navigation-label">{{this}}</div>
    {{/with}}
    {{#with items}}
        <ul class="Navigation-items">
            {{#each this}}
                {{#if @first}}
                    <li class="Navigation-items-item">{{this}}</li>
                {{/if}}
                {{#unless @first}}
                    <hr class="Navigation-items-hr">
                    <li class="Navigation-items-item">{{this}}</li>
                {{/unless}}
            {{/each}}
        </ul>
    {{/with}}
</nav>
