<li class="LanguagesMenu-items-item">
   <a class="LanguagesMenuItem-items-item-link" href="{{url}}"{{#with target}} target="{{this}}"{{/with}} language-code="{{languageCode}}">{{#with languageName}}{{this}}{{/with}}</a>
</li>
