<div class="VideoLead">
    {{#with player}}
        <div class="VideoLead-player">{{this}}</div>
    {{/with}}
    {{#with subHeadline}}
        <div class="VideoLead-subHeadline">{{this}}</div>
    {{/with}}
</div>
