<bsp-listcarousel class="QuoteListA" data-module{{include "/page/list/includes/PageList-attributes.hbs" this}}>
    {{include "/global/ModuleHeader.hbs" this}}

    {{#with items}}
        <ul class="QuoteListA-items">
            {{#each this}}
                <li class="QuoteListA-items-item">
                    {{#set imageSize=../../itemImageAspectRatio}}
                        {{include "/quote/Quote.hbs" this}}
                    {{/set}}
                </li>
            {{/each}}
        </ul>
    {{/with}}
    {{include "/page/list/includes/PageList-footer.hbs" this}}
</bsp-listcarousel>
